@model IEnumerable<MvcForum.Models.EntityModels.Category>

@{
    ViewBag.Title = "Index";
}

<h2>All Categories</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New Category", "Create", null, new { @class = "btn btn-success" })
    }

    @Html.ActionLink("Create New Post", "Create", "Posts", null, new { @class = "btn btn-primary" })
    <br/>
}
<div class="list-group">
    @foreach (var item in Model)
    {
        @Html.ActionLink($"{item.Name}            ({item.Count} posts)", "Category", "Forum", new { id = item.Id }, new { @class = "list-group-item" })
    }
</div>